#purple {
    background: #511FE0;
}

#blue {
    background: #3469E7;
}

#green {
    background: #33D12C;
}

#yellow {
    background: #E4DC31;
}

#orange {
    background: #FB7E21;
}

#red {
    background: #EE0012;
}

#purple1 {
    background: #7d57e8;
}

#blue1 {
    background: #678fed;
}

#green1 {
    background: #66dd61;
}

#yellow1 {
    background: #ebe565;
}

#orange1 {
    background: #fc9e59;
}

#red1 {
    background: #f2404d;
}

#purple2 {
    background: #a88ff0;
}

#blue2 {
    background: #9ab4f3;
}

#green2 {
    background: #99e896;
}

#yellow2 {
    background: #f2ee98;
}

#orange2 {
    background: #fdbf90;
}

#red2 {
    background: #f78089;
}

#purple3 {
    background: #d4c7f7;
}

#blue3 {
    background: #ccdaf9;
}

#green3 {
    background: #ccf4ca;
}

#yellow3 {
    background: #f8f6cc;
}

#orange3 {
    background: #fedfc8;
}

#red3 {
    background: #fbbfc4;
}

html {
    height: 100%;
}

body {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

body:before {
    content: "";
    background: url("https://images.unsplash.com/photo-1464820453369-31d2c0b651af?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80") no-repeat;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
}

.wrapper {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    max-width: 468px;
    width: 100vw;
    height: 100vh;
    background: white;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

header,
main {
    padding: 0 24px;
}

header h1 {
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    margin: 24px 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.photo-grid article {
    transition: all 300ms ease-in-out;
    outline: none;
}

.photo-grid article:hover {
    transform: scale(1.035);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.photo-grid article img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 7.5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.32);
}

.photo-grid article:first-child,
.photo-grid article:nth-child(6n+7),
.photo-grid article:nth-child(6n+5) {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.search-bar {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding: 24px;
    width: 100%;
    z-index: 2;
}

input[type=text] {
    display: block;
    box-sizing: border-box;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    padding: 16px 24px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
}

.search-bar svg {
    width: 32px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 48px;
}

.search-filter {
    position: fixed;
    bottom: 0;
    padding: 0 0 108px 0;
    z-index: 1;
    background: white;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.32);
    bottom: -100%;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.search-filter.active {
    bottom: 0;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.search-filter .color-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 18px;
    width: fit-content;
    margin-left: 24px;
    margin-bottom: 24px;
}

.search-filter .color-grid .color {
    width: 46px;
    height: 46px;
    background: grey;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}

.search-filter .color-grid .color:hover {
    transform: scale(1.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.search-filter .color-grid .color.active {
    position: relative;
    transform: scale(1.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.search-filter .color-grid .color.active:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 50%;
}